certifi>=2020.6.20
chardet>=3.0.4
colorama>=0.4.3
idna>=2.10
requests>=2.24.0

pyttsx3~=2.98
SpeechRecognition~=3.14.1
wikipedia~=1.4.0
pyjokes~=0.8.3
PyAutoGUI~=0.9.54
instaloader~=4.14.1
psutil~=7.0.0
speedtest~=0.0.1
python-nmap~=0.7.1
pywhatkit~=5.4
phonenumbers~=8.13.55
serial~=0.0.97
bs4~=0.0.2
beautifulsoup4~=4.13.3
pywikihow~=0.5.7